.btn
{
    width:100%;
}

.collapse
{
    padding:10px;
}

.btn-danger
{
    width:25%;
}

.card1
{
    margin-top:20px;
    box-shadow:0 0 20px 2px rgb(185, 185, 185);
}

.card1 .card-header
{
    background:rgba(220, 53, 70, 0.884);
    /* color:white !important; */
}

.card-subtitle
{
    /* color:white !important; */
}